<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <a href="{% url 'learning_logs:index' %}">Learning Log </a>-
        <a href="{% url 'learning_logs:topicos' %}"> Tópicos</a>
        {% if user.is_authenticated %}
            Olá, {{ user.username }}
        {% else %}
            <a href="{% url 'accounts:register' %}">Registrar</a>
            <a href="{% url 'accounts:login' %}">Login</a>
        {% endif %}
    </h1>
    {% block content %}{% endblock content %}

    {% if user.is_authenticated %}
        <hr />
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button name="submit">Logout</button>
        </form>
    {% endif %}
</body>
</html>