<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'learning_logs/base.html' %}

    {% block content %}
        <p><a href="{% url 'learning_logs:topico' topico.id %}">{{ topico }}</a></p>
        <p>Editar entrada:</p>

        <form action="{% url 'learning_logs:editar_entrada' entrada.id %}" method="post">
            {% csrf_token %}
            {{ form.as_div }}
            <button name="submit">Salvar Alterações</button>
        </form>
    {% endblock content %}
</body>
</html>