
{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1>Tópico: {{topico.text}}</h1>
{% endblock page_header %}

{% block content %}

    <p>
        <a href="{% url 'learning_logs:nova_entrada' topico.id %}">Adicionar Nova Entrada</a>
    </p>
    
    {% for entrada in entradas %}
        <div class="card mb-3">
            <!-- Cabeçalho do card com timestamp e link de edição -->
            <h4 class="card-header">
                {{ entrada.data_add|date:'M D, Y H:i' }}
                <small><a href="{% url 'learning_logs:editar_entrada' entrada.id %}">Editar Entrada</a></small>
            </h4>
            <!-- Corpo do card com texto de entrada -->
            <div class="card-body">
                {{ entrada.text|linebreaks }}
            </div>

        </div>
    {% empty %}
        <p>Não existem entradas neste tópico</p>
        
    {% endfor %}


{% endblock content %}
